<!--{def TEMPLATE_COMMENT}-->
<html>
<head>
<title>さくら表示テンプレート</title>
<meta http-equiv="Content-Type" content="text/html;">
</head>
<body bgcolor="#ffffff">
<!--{/def}-->
<!--{def TALK_SAKURA}-->

<!-- ■さくら START■ -->
<table summary="t" width="641" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="gh_image/spacer.gif" width="8" height="1" alt="" class="border_zero" /></td>
    <td><img src="gh_image/spacer.gif" width="101" height="1" alt="" class="border_zero" /></td>
    <td><img src="gh_image/spacer.gif" width="6" height="1" alt="" class="border_zero" /></td>
    <td><img src="gh_image/spacer.gif" width="195" height="1" alt="" class="border_zero" /></td>
    <td><img src="gh_image/spacer.gif" width="8" height="1" alt="" class="border_zero" /></td>
    <td><img src="gh_image/spacer.gif" width="100" height="1" alt="" class="border_zero" /></td>
    <td><img src="gh_image/spacer.gif" width="8" height="1" alt="" class="border_zero" /></td>
    <td><img src="gh_image/spacer.gif" width="214" height="1" alt="" class="border_zero" /></td>
    <td><img src="gh_image/spacer.gif" width="1" height="1" alt="" class="border_zero" /></td>
    <td><img src="gh_image/spacer.gif" width="1" height="1" alt="" class="border_zero" /></td>
  </tr>

  <tr>
    <td rowspan="3" colspan="2" valign="top" align="center" style="background-image:url(gh_image/LOG_SPACE.png); font-size:12px; padding: 2px;" id="LOG_HTML">
      <br />
      <br />
      <table summary="t" border="1" cellpadding="3" cellspacing="0">
        <tr>
          <td align="right" valign="top" style="font-size: 12px; color: #777777">
            <a href="kanri/" target="_blank"><span style="color: #FFFFFF">　</span></a>
            今日：{tval COUNT/TODAY}<br />
            昨日：{tval COUNT/YESTERDAY}<br />
            合計：{tval COUNT/TOTAL}<br />
            (3/9/22～)
          </td>
        </tr>
      </table>
    </td>

    <td colspan="5"><img src="gh_image/02.png" width="317" height="42" alt="" class="border_zero" /></td>
    <td rowspan="5"><img id="CH_S07" name="CH_S07" src="gh_image/CH_S{rval SHELL_SAKURA}.png" width="214" height="312" alt="" class="border_zero" /></td>
    <td rowspan="5"><img src="gh_image/04.png" width="1" height="312" alt="" class="border_zero" /></td>
    <td><img src="gh_image/spacer.gif" width="1" height="42" alt="" class="border_zero" /></td>
  </tr>
  <tr>
    <td rowspan="2"><img src="gh_image/05.png" width="6" height="161" alt="" class="border_zero" /></td>
    <td colspan="3" valign="top" align="left" style="background-image:url(gh_image/TALK_SAKURA.png)">
      <div id="TALK_SAKURA" class="st" style="font-size:12px; padding: 2px;">{rval TALK_SAKURA}</div>
    </td>
    <td rowspan="2"><img src="gh_image/07.png" width="8" height="161" alt="" class="border_zero" /></td>
    <td><img src="gh_image/spacer.gif" width="1" height="154" alt="" class="border_zero" /></td>
  </tr>
  <tr>
    <td colspan="3"><img src="gh_image/08.png" width="303" height="7" alt="" class="border_zero" /></td>
    <td><img src="gh_image/spacer.gif" width="1" height="7" alt="" class="border_zero" /></td>
  </tr>
  <tr>
    <td rowspan="2"><img src="gh_image/09.png" width="8" height="109" alt="" class="border_zero" /></td>
    <td colspan="3" valign="top" align="left" style="background-image:url(gh_image/TALK_UNNYU.png); font-size:12px; padding: 2px;" id="TALK_UNYUU" class="st">
      <br />
      {rval TALK_UNYUU}
    </td>
    <td rowspan="2"><img src="gh_image/11.png" width="8" height="109" alt="" class="border_zero" /></td>
    <td rowspan="2" colspan="2"><img id="CH_U11" name="CH_U11" src="gh_image/CH_U{rval SHELL_UNYUU}.png" width="108" height="109" alt="" class="border_zero" /></td>
    <td><img src="gh_image/spacer.gif" width="1" height="94" alt="" class="border_zero" /></td>
  </tr>
  <tr>
    <td colspan="3"><img src="gh_image/13.png" width="302" height="15" alt="" class="border_zero" /></td>
    <td><img src="gh_image/spacer.gif" width="1" height="15" alt="" class="border_zero" /></td>
  </tr>
</table>
<!-- ■さくら END■ -->
<!--{/def}-->
<!--{each TALK}-->
<!--{def TALK/MARK}-->
&nbsp;&nbsp;<img src="images/turn.gif" alt="MARK" width="11" height="11" class="border_zero" />&nbsp;
<!--{/def}-->
<!--{def TALK/LINK}-->
<a href="{rval TALK/LINK}" class="st">
<!--{/def}-->
<!--{def TALK/KOUJI}-->
<span class="dead">
<!--{/def}-->
{tval TALK/MSG}
<!--{def TALK/SUBMES}-->
&nbsp;&nbsp;～{tval TALK/SUBMES}～
<!--{/def}-->
<!--{def TALK/KOUJI}-->
</span>
<!--{/def}-->
<!--{def TALK/LINK}-->
</a>
<!--{/def}-->
<!--{def TALK/LINK2}-->
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{rval TALK/LINK2}" class="st"><span class="dead">{tval TALK/MSG2}</span></a>
<!--{/def}-->
<!--{def TALK/LINK3}-->
&nbsp;<a href="{rval TALK/LINK3}" class="st"><span class="dead">{tval TALK/MSG3}</span></a>
<!--{/def}-->
<br />
<!--{/each}-->
<!--{def TEMPLATE_COMMENT}-->
</body>
</html>
<!--{/def}-->
